resize.py
make_gif.py
*venv/
*faces/
*__pycache__/
*.idea/
*vanilla_gan/model/
*vanilla_gan/logs/
*backup/
*keras/models/
*wgan/models/
*wgan/logs/
*wgan/sample_img
*wgan-gp/models/
*wgan-gp/logs/
*wgan-gp/sample_img

